.profile-screen {
    text-align: "center";
}

.profile-screen-title {
    font-size: 24px;
}

.profile-screen-text {
    font-size: 16px;
}

@media (min-width: 767px) {
    .profile-screen-title {
        font-size: 32px;
    }
    .profile-screen-text {
        font-size: 24px;
    }
}