.social-screen {
    text-align: "center"; 
}

.social-screen-title {
    font-size: 24px;
}

.social-screen-text {
    font-size: 16px;
}

@media (min-width: 767px) {
    .social-screen-title {
        font-size: 32px;
    }
    .social-screen-text {
        font-size: 24px;
    }
    
}