.homescreen-products {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;  
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .homescreen-products {
        gap: 10px;
    }
}

