.home-screen {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: auto;   
    margin-left: auto;
    margin-right: auto; 
}

.home-screen-title {
    font-size: 24px;
}

.home-screen-text {
    font-size: 16px;
}

@media (min-width: 767px) {
    
    .home-screen-title {
        font-size: 32px;
    }
    .home-screen-text {
        font-size: 24px;
    }
}