.home-screen {
    text-align: "center";    
}

.home-screen-title {
    font-size: 24px;
}

.home-screen-text {
    font-size: 16px;
}

@media (min-width: 767px) {
    .home-screen-title {
        font-size: 32px;
    }
    .home-screen-text {
        font-size: 24px;
    }
}