.favorite-screen-title {
    font-size: 24px;
}

.favorite-screen-text {
    font-size: 16px;
}

@media (min-width: 767px) {
    .favorite-screen-title {
        font-size: 32px; 
    }
    .favorite-screen-text {
        font-size: 24px;
    }
}