:root {   
    --prodBgInfo: #fff;
    --colorBtn: #f4f4f4;
    --bgBtn: #060b26;
    --text: #3d3e41;
  }

.productscreen {   
    display: flex;    
    flex-direction: column;   
    justify-content: space-evenly;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.product-list {  
    display: flex;
    flex-wrap: wrap;  
    list-style: none;      
    text-decoration: none;    
    gap: 8px;    
    text-align: center;  
    padding-left: 5px; 
    padding-right: 5px;
    font-family: "Raleway";
    font-style: normal;
    font-size: 18px;
    line-height: 21px; 
    color: var(--text);
} 

.product-list-item {
    margin: 16px;
    background: var(--prodBgInfo);
    text-align: start;  
}

.product-image {    
    width: 100%;
}

.product-name {    
    font-weight: 700;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.span-text {
    font-weight: 500;
}

.product-qty {
    padding: 8px 12px;
    margin-left: 5px;
}

.product-button {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    background: var(--bgBtn);
    color: var(--colorBtn);
    border: 1px solid var(--prodBgInfo);
    cursor: pointer;
    
}

@media (min-width: 768px) {
    .product-text {
        font-size: 16px;
        font-weight: 500;  
    }
}

@media (min-width: 1024px) {
    .productscreen  {       
        flex-direction: row;
        align-items: flex-start;       
    }
    .product-text {
        font-size: 18px;
        font-weight: 600;  
    }
    .product-list {
        gap: 10px;
    }
}

@media (min-width: 1440px) {
    .productscreen {
        margin-top: 36px;
    }
}

