.blog-screen {
    text-align: "center";
}

.blog-screen-title {
    font-size: 24px;
}

.blog-screen-text {
    font-size: 16px;
}

@media (min-width: 767px) {
    .blog-screen-title {
        font-size: 32px; 
    }
    .blog-screen-text {
        font-size: 24px;
    }
}