.size-screen-title {
    font-size: 24px;
}

.size-screen-text {
    font-size: 16px; 
}

@media (min-width: 767px) {
    .size-screen-title {
        font-size: 32px;
    }
    .size-screen-text {
        font-size: 24px;
    }
}