.aboutus-screen {
    text-align: "center"; 
} 

.aboutus-screen-title {
    font-size: 32px;
}

.aboutus-screen-text {
    font-size: 24px;
}

@media (min-width: 767px) {
    .aboutus-screen-title {
        font-size: 64px;
    }
    .aboutus-screen-text {
        font-size: 32px;
    }
}
