:root {
    --footBg: #060b26;
    --links: #fff;
    --socialHover: #FFA4A4;
  }
  
  .footer-wrapper {
    gap: 12px;   
    background-color: var(--footBg);  
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: baseline;    
}    

 .footer-list {
    display: flex;
    list-style: none; 
    align-items: center;
    color: #fff;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;    
 }  

 .footer-links {
    list-style: none;
    text-decoration: none;
    color: var(--links);  
    display: flex;
    align-items: center;
 }   
 
 .footer-links:hover,
 .footer-links:focus,
 .social-list-item:hover,
 .social-list-item:focus {
    color: var(--socialHover);
 }

.social-list {
    display: flex;
    align-items: center;
    list-style: none; 
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
}   

.footer-rights {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: var(--links);
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

@media (min-width: 320px) and (max-width: 479px) {
    .footer-rights {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        padding-left: 40px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-top {
        display: flex;
        justify-content: flex-start;        
    }
    .footer-list {
        display: flex;
        flex-direction: column;   
        align-items: flex-start;           
    }  
    .footer-list-item:not(:last-child) {
        margin-bottom: 4px;       
      }
} 

@media (min-width: 480px) and (max-width: 767px) {    
    .footer-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;     
        align-items: center; 
        justify-content: center;
        text-align: center;  
        margin-left: auto;
        margin-right: auto;
        padding: auto;          
    } 
    .footer-list-item {
        width: calc(100% / 3);
        align-items: baseline;
    }
    .footer-list-item:not(:last-child) {
        margin-bottom: 5px;       
      }
    .social-list {
        display: flex;       
    }
}

@media (min-width: 768px) { 
    .footer-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer-container {    
        display: flex;
        align-items: center;  
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: auto; 
    } 
    .footer-list-item {
        padding-bottom: 4px;        
        padding-left: 24px;         
    }
    .footer-list {
        font-size: 19px;
        line-height: 22px; 
    }
    .social-list {
        display: flex;
        gap: 5px;
    }
}

@media (min-width: 1024px)  {
    .footer-list {
        font-size: 20px;
        line-height: 23px; 
    }
    .social-list {        
        gap: 6px;
    }
}

@media (min-width: 1440px)  {
    .footer-list {
        font-size: 21px;
        line-height: 24px; 
    }
    .social-list {        
        gap: 7px;
    }
}

@media (min-width: 2560px)  {
    .footer-list {
        font-size: 22px;
        line-height: 25px; 
    }
    .social-list {        
        gap: 7px;
    }
}

@media (min-width: 4320px)  {
    .footer-list {
        font-size: 23px;
        line-height: 26px; 
    }
    .social-list {        
        gap: 8px;
    }
}
   