:root {
    --footBg: #060b26;
    --links: #fff;
  }
  
  .footer-wrapper {
    gap: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--footBg); 
}

.footer-container {
    
    display: flex;
    align-items: center;  
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: auto; 
}  

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: baseline;    
}    

 .footer-list {
    display: flex;
    list-style: none; 
    align-items: center;
 } 

 .footer-list-item {
    padding-left: 24px; 
 } 

 .footer-links {
    list-style: none;
    text-decoration: none;
    color: var(--links);
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
 }    

.social-list {
    display: flex;
    align-items: center;
    list-style: none; 
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
}   

.footer-rights {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: var(--links);
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}

/* @media (max-width: 767px) {
    .footer-wrapper {
        display:none;
    }    
}  */

@media (max-width: 768px) {
    .footer-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;         
    }

    .footer-list-item {
        padding-bottom: 4px;
    }

    .social-list {
        display: flex;
        gap: 5px;
    }

}
   