:root {
  --screen-title: #212121;
  --screen-text: #757575;
}

.main-screen {   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: auto;   
    margin-left: auto;
    margin-right: auto; 
    /* min-height: 80vh;    */
   overflow-y: scroll;
}

.screen-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: var(--screen-title);
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.screen-text {   
    margin-top: 0;
    color: var(--screen-text);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .04em;
    text-align: start;  
}

@media (min-width: 768px) {
    .screen-title {
        /* font-size: 36px;
        line-height: 42px;
        margin-bottom: 50px; */
        display: block;
        align-items: flex-start;
    }
    /* .screen-text {
        font-weight: 500;
        font-size: 20px;
    } */
}

@media (min-width: 1440px) {
    .main-screen {
        align-items: flex-start;
    }
}