:root {
    --navBg: #060b26;
    --navLogo: #fff;
    --navHover: #FFA4A4;
  }

  .navbar {
    background-color: var(--navBg);
    height: 80px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;  
    padding: auto; 
    margin-left: auto;
    margin-right: auto; 
    padding-left: 20px;
    padding-right: 20px;  
  }

  .navbar-logo {
    cursor: pointer; 
    padding: 0;
  }

  .logo-links {
    list-style: none;
    text-decoration: none;
  }

  .logo-title {
    text-decoration: none;
    color: var(--navLogo);
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;   
  }

  .navbar-list {
    display: flex;   
    list-style: none;
    align-items: center;
    text-decoration: none;    
    gap: 8px;    
    text-align: center;  
    padding-left: 0; 
  }

  .navbar-list-item{
    padding-left: 10px;  
    display: flex; 
  }
  .navbar-list-item:first-child {
    padding-left: 0;  
    display: flex; 
  }

  .icons-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    margin-right: 10px;
  }

 .icons-list-item {
    padding-left: 10px;  
    display: flex; 
  }

  .cartlogo-badge {
    width: 30px;
    height: 30px;
    background-color: #f4f4f4;
    border-radius: 50%;
    margin-left: 8px;
    color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  /* .icons-list-item:not(:first-child) {
    padding-left: 14px;  
    display: flex; 
  } */

  .navbar-links,
  .icons-links  {
    text-decoration: none;
    color: var(--navLogo);
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    transition: transform 250ms linear, color 250ms linear;    
  }

  .navbar-links:hover,
  .navbar-links:focus,
  .icons-list-item:hover,
  .icons-list-item:focus {
    color: var(--navHover);
  }  

  .cart-logo-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20px;
    height: 20px;
    background: var(--navLogo);
    border-radius: 40%;
    margin-left: 5px;
    color: #A9A9A9;
    font-size: 16px;
  }
  
  .navbar-mob {
    background-color: var(--navBg);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;   
  }
  
  .menu-bars {   
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: var(--navBg);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: var(--navLogo);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: var(--navHover);
  }
  
  .nav-menu-items {
    width: 100%;
    padding: 0;
  }
  
  .navbar-toggle {
    background-color: var(--navBg);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
    .icons-list {
      display: none;
    }   
  }
 
  @media (max-width: 767px) {
    .navbar-links {
      display: none;
    }
  }

  @media (min-width: 767px) {    
    .navbar-links__item {
      padding-left: 15px;
    }    
   }

   @media (min-width: 768px) {
    .navbar-mob {
      display: none;
    } 
    .navbar-links {
      display: block;
      white-space: nowrap;
      font-size: 19px;
      line-height: 22px; 
    }
    .icons-links {
      font-size: 19px;
      line-height: 22px; 
    }
  }

   @media (min-width: 1024px) {    
    .navbar-links__item {
      padding-left: 20px;
    } 
    .navbar-links,
    .icons-links {
      font-size: 20px;
      line-height: 23px; 
    }
  }

   @media (min-width: 1440px) {   
    .navbar-links__item {
      padding-left: 25px;
    }
    .navbar-links,
    .icons-links {
      font-size: 21px;
      line-height: 24px; 
    }
  }

  @media (min-width: 2560px) {   
    .navbar-links__item {
      padding-left: 30px;
    }
    .navbar-links,
    .icons-links {
      font-size: 22px;
      line-height: 25px; 
    }
  }

  @media(min-width: 4320px) {    
    .navbar-links__item {
      padding-left: 35px;
    }
    .navbar-links,
    .icons-links {
      font-size: 23px;
      line-height: 26px; 
    }
  }

 
  


  