.cart-screen-title {
    font-size: 24px;
}

.cart-screen-text {
    font-size: 16px;
}

@media (min-width: 767px) {
    .cart-screen-title {
        font-size: 32px;
    }
    .cart-screen-text {
        font-size: 24px;  
    }
}