:root {
    --cartScreenName: #171717;
    --cartScreenBg: #fff;
    --cartScreenHover: #dd219e;  
    --cartScreenBtn: #f4f4f4; 
  }

.cartitem-screen {
    display: flex;
    min-width: 1440px;
    margin: 32px auto;
}

.cartscreen-left {
    flex: 0.7;
    margin-right: 16px;
    background-color: transparent;
    padding: 16px;
}

.cartscreen-right {
    flex: 0.3;
    background: var(--cartScreenBg);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
}

.cartscreen-info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px;
}

.cartscreen-info:last-child {
    border: none;
}

.cartscreen-name {
    padding: 8px;
}

.cartscreen-button {
    padding: 10px 17px;
    width: 100%;
    background: var(--cartScreenName);
    color: var(--cartScreenBtn);
    border: 1px solid var(--cartScreenName);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.cartscreen-button:hover,
.cartscreen-button:focus {
    opacity: 0.9;
}

@media (max-width: 1440px) {
    .cartscreen {
      min-width: 900px;
    }
}

@media (max-width: 768px) {
    .cartscreen {
      min-width: 800px;
      flex-direction: column;
    }
    .cartscreen-left {
        margin: 0;
    }
    .cartscreen-right {
        margin: 16px;
    }
}