:root {
    --cartName: #171717;
    --cartBg: #fff;
    --cartHover: #dd219e;
    --delBtn: tomato;
    --delBg: #f4f4f4;
  }

.cartitem {
   width: 100%; 
   padding: 16px;
   margin-bottom: 8px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 8px;
   background: var(--cartBg);
   border-radius: 2px;
}
/* 
.cartitem-image {

} */

.cartitem-name {
    text-decoration: none;
    color: var(--cartName);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.cartitem-name:hover,
.cartitem-name:focus {
    color: var(--cartHover);
}

/* .cartitem-price {

} */

.cartitem-select {
    padding: 10px 17px;
}

.cartitem-deleteBtn {
    padding: 10px 17px;
    color: var(--delBtn);
    background: var(--delBg);
    border: 1px solid var(--cartName);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cartitem-deleteBtn:hover,
.cartitem-deleteBtn:focus,
.cartitem-deleteBtn:active {
    background: var(--cartName);
    transform:  scale(1.2);    
}

/* .cartitem-icon {

} */

@media (max-width: 768px) {
    .cartitem-name,
    .cartitem-price {
        font-size: 12px;
    }
    .cartitem-select,
    .cartitem-deleteBtn {
        padding: 8px 13px;
    }   
}

@media (max-width: 480px) {
    .cartitem-name,
    .cartitem-price {
        font-size: 10px;
    }
    .cartitem-select,
    .cartitem-deleteBtn {
        padding: 5px 8px;
    }   
}

